<head>
  <div id="topbar-wrapper">
    <div id="topbar">
      <span id="breadcrumb">
        {% assign paths = page.url | split: '/' %}

        {% if paths.size == 0 or page.layout == 'home' %}
          {{ Home | capitalize }}
        {% else %}
          {% for item in paths %}
            {% if forloop.first %}
              <span>
                <a href="{{ '/career-archive/' | relative_url }}">Home</a>
              </span>
            {% else %}
              <span>{{ page.title | capitalize }}</span>
            {% endif %}
          {% endfor %}
        {% endif %}
      </span>
    </div>
  </div>
</head>
