{% assign paths = page.url | split: '/' | last | strip %}
{% assign resume_url = 'resume/' %}
{% assign cover-letter_url = 'cover-letter/' %}
{% assign portfolio_url = 'portfolio/' %}

{% assign home_class = 'header-tab-link' %}
{% if paths == '' %}
    {% assign home_class = 'header-tab-link' | append: ' current' %}
{% endif %}

{% assign resume_class = 'header-tab-link' %}
{% if paths == 'resume' %}
    {% assign resume_class = 'header-tab-link' | append: ' current' %}
{% endif %}

{% assign cover-letter_class = 'header-tab-link' %}
{% if paths == 'cover-letter' %}
    {% assign cover-letter_class = 'header-tab-link' | append: ' current' %}
{% endif %}

{% assign portfolio_class = 'header-tab-link' %}
{% if paths == 'portfolio' %}
    {% assign portfolio_class = 'header-tab-link' | append: ' current' %}
{% endif %}


<div class="header-container no-print">
  <div class="header-sidebar"></div>
  <div class="header-main">
    <div class="header-child">
      <ul class="header-tabs">
        <li class=" {{ home_class }}">
          <a href="{{ site.url }}/">Home</a>
        </li>
        <li class="{{ resume_class }}">
          <a href="{{ site.url }}/{{ resume_url }}">resume</a>
        </li>
        <li class="{{ cover-letter_class }}">
          <a href="{{ site.url }}/{{ cover-letter_url }}">cover letter</a>
        </li>
        <li class="{{ portfolio_class }}">
          <a href="{{ site.url }}/{{ portfolio_url }}">portfolio</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-sidebar"></div>
</div>
