.header-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.header-sidebar {
    background-color: $linen-color;
}

.header-main {
    background-color: $linen-color;
    font-family: $font-kr;
    width: 21cm;
}

.header-home {
    // padding: 0.8cm 0.4cm 0.8cm 0.4cm;
    font-size: 3em;
    font-weight: 900;
}

.header-child {
    padding: 0.6cm;
    // border-bottom: 5px solid;
    background-color: $linen-color;
    font-size: 1.6em;
    font-weight: 700;

    a {
        color: $bistre-color;
        text-decoration: none;
    }
}
