.resume-career {
    .document-info {
        padding-left: 2.0cm;
    }
}

.resume-other {
    .document-heading2 {
        padding-left: 0.4cm;
    }

    .document-info {
        padding-left: 0.8cm;
    }
}

.resume-skill {
    .document-heading2 {
        padding-left: 0.4cm;
    }

    .document-info {
        padding-left: 0.8cm;
    }
}
